---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
# BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
ColumnLimit: 110
AllowShortFunctionsOnASingleLine: false
SortIncludes: false
